extends base


block append head
    link(rel='stylesheet' href='/css/card-needed.css')

block content
    .container 
        h1.head-text.title-change= title
        .card-wrapper
            each inzu in amazu
                .card

                    - if (inzu.image[0] === undefined)
                        img.card-img(src="/img/amazu/defaultHouse.png", alt="Best house ever")

                    - else
                        img.card-img(src=`${inzu.image[0]}`, alt=`${inzu.name}`)
                    p.about= inzu.summary
                    a.btn(href=`/amazu/${inzu.slug}`) Details
