extends base
include _reviewCard

block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet')


block content
     section
      .main-content-description
        .content-text
          .content-text-left
            h3=  `Igiciro: ${inzu.cost}rwf `
            h3 Icyerekezo
            p= `Igihugu: ${inzu.nationality}`
            p=  `Intara: ${inzu.intara}`
            p= `Akarere: ${inzu.akarere}`
            p= `Umurenge: ${inzu.umurenge}`
            p= `Ubuso: ${inzu.size}`
          .content-right-description
            h1=  `Ibijyanye na ${inzu.name}`
            p= inzu.description
        .ikirango
          h1 Andi Mafoto Aranga
        .image-section
            img(src=`/img/amazu/${inzu.imageCover}` alt=`${inzu.name}`)
            img(src="https://turaheza562410419.files.wordpress.com/2018/11/img-20181123-wa03431.jpg" alt="")
            img(src="https://turaheza562410419.files.wordpress.com/2018/11/img-20181109-wa0091.jpg" alt="")
            img(src="https://turaheza562410419.files.wordpress.com/2019/06/img-20190615-wa0306.jpg" alt="")
            img(src="https://turaheza562410419.files.wordpress.com/2018/08/img-20180810-wa0008.jpg" alt="")
            img(src="https://turaheza562410419.files.wordpress.com/2018/11/img-20181123-wa03431.jpg" alt="")
            img(src="https://turaheza562410419.files.wordpress.com/2018/11/img-20181109-wa0091.jpg" alt="")
            img(src="https://turaheza562410419.files.wordpress.com/2019/06/img-20190615-wa0306.jpg" alt="")
            img(src="https://turaheza562410419.files.wordpress.com/2018/08/img-20180810-wa0008.jpg" alt="")
          
        .youtube-connection
          h1 Check Our Youtube Videos
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure aut, vero in at totam expedita ut
            | optio odio nam laboriosam?
          a(href="https://www.youtube.com/watch?v=3-aQZpLRNIw" target="_blank") See More

                

